@import './base.css';

#app {
  margin: 0 auto;
  padding: 0;

  font-weight: normal;
}

nav > a {
  text-decoration: none;
  transition: 0.4s;
  color: var(--vt-c-purple-ligth);
}

@media (hover: hover) {
  nav > a:hover {
    background-color: var(--vt-c-purple-background);
  }
}

/** {
  outline: 1px solid limegreen !important;
}*/
